<perch:blocks>

	<perch:block type="hero" label="Hero">
		<div class="hero" style="background-image:url('<perch:content id="image_large" label="Image" type="image" width="1440" height="500" crop="true" filter="imgix" imgix-opts="auto=format,compress" />');background-size:cover;">
		<img src="<perch:content id="image_large" label="Image" type="image" width="1440" height="500" crop="true"
			filter="imgix" imgix-opts="auto=format,compress" />" alt="Whitby" style="display:none;" />
		<div>
			<h1>
				<perch:content type="text" id="heading" label="Heading" />
			</h1>
			<p>
				<perch:content type="text" id="subheading" label="Sub Heading" />
			</p>
			<perch:if exists="logo">
				<img src="<perch:content id="logo" label="Logo" type="image" width="120" height="120" crop="true" filter="imgix" imgix-opts="auto=format,compress" />" alt="Logo" >
			</perch:if>
		</div>
		</div>
	</perch:block>

	<perch:block type="text" label="Text Field">
		<div class="wrap">
			<div class="restrict narrow">
				<perch:content type="textarea" id="textarea" label="Text Field" editor="redactor" imagewidth="725"
					html />
			</div>
		</div>
	</perch:block>

	<perch:block type="text_logos" label="Text Field With Logos">
		<div class="wrap">
			<div class="restrict text-logo-wrapper">
				<div class="text-logo-content">
					<perch:content type="textarea" id="textarea" label="Text Field" editor="redactor" imagewidth="725"
					html />
				</div>
				<div class="text-logo-image">
					<perch:repeater id="repeater" label="Repeater">
						<a href="<perch:content id="link" type="text" label="Icon Link Url">">
							<img src="<perch:content type="image" label="Speaker Picture" id="speaker-image" height="160" crop="true" filter="imgix" imgix-opts="auto=format,compress" />" />
						</a>
					</perch:repeater>
				</div>
			</div>
		</div>
	</perch:block>

	<perch:block type="contact_form" label="Contact Form">
		<div class="wrap">
			<div class="restrict narrow">
				<perch:content type="textarea" id="textarea" label="Text Field" editor="redactor" html />
				<perch:form id="contact" method="post" app="perch_forms">
					<div class="form-section">
						<div class="form-input">
							<label for="name">Name</label>
							<perch:input type="text" id="name" required label="Name" placeholder="Your Name" />
						</div>
						<div class="form-input">
							<label for="email">Email</label>
							<perch:input type="email" id="email" required label="Email" placeholder="you@company.com" />
						</div>
						<div class="form-input">
							<label for="message">Message</label>
							<perch:input type="textarea" id="message" required label="Message" placeholder="Message" />
						</div>
						<div class="form-input">
							<perch:input type="submit" id="submit" value="Send" class="form-button" />
						</div>
					</div>
					<perch:success>
						<p class="success">
							<perch:content id="success" type="text" label="Thank you message" />
						</p>
					</perch:success>
				</perch:form>
			</div>
		</div>
	</perch:block>

	<perch:block type="form" label="Abstract Form">
		<div class="wrap">
			<div class="restrict">
				<perch:content type="textarea" id="textarea" label="Text Field" editor="redactor" html />
				<perch:form id="abstract" method="post" app="perch_forms">
					<h2 class="form-section-label">Your Details</h2>
					<div class="form-section">
						<div class="form-input">
							<label for="name">Name</label>
							<perch:input type="text" id="name" required label="Name" placeholder="Your Name" />
						</div>
						<div class="form-input">
							<label for="email">Email</label>
							<perch:input type="email" id="email" required label="Email" placeholder="you@company.com" />
						</div>
						<div class="form-input">
							<label for="phone">Phone Number</label>
							<perch:input type="text" id="phone" label="Phone" placeholder="01234567890" />
						</div>
						<div class="form-input">
							<label for="website">Website</label>
							<perch:input type="text" id="website" label="Website" placeholder="www.yourwebsite.org" />
						</div>
						<div class="form-input">
							<label for="organisation">Organisation</label>
							<perch:input type="text" id="organisation" required label="Organisation"
								placeholder="Your Organisation" />
						</div>
						<div class="form-input">
							<label for="speaker-bio">Brief Bio</label>
							<perch:input type="textarea" id="speaker-bio" required label="Bio" placeholder="Speaker Bio"
								class="countWords cw-100" />
						</div>
						<div class="form-input image-upload-section">
							<label for="image">Upload A Profile Picture</label>
							<perch:input type="image" id="image" label="Image" class="image-upload" />
							<button id="image-button" class="form-button">Choose Image</button>
							<div id="preview-div" class="hide">
								<img id="image-to-upload" />
								<div id="image-overlay" class="hide"></div>
								<button id="delete-button" class="hide">Delete</button>
							</div>
						</div>
					</div>
					<h2 class="form-section-label">Your Talk</h2>
					<div class="form-section">
						<div class="form-input">
							<label for="title">Talk Title</label>
							<perch:input type="text" id="title" required label="Title" placeholder="Talk Title" />
						</div>
						<div class="form-input">
							<label for="description">Talk Description</label>
							<perch:input type="textarea" id="description" required label="Description"
								placeholder="Talk Description" class="countWords cw-200" />
						</div>
						
					</div>
					<div class="form-input">
						<perch:input type="submit" id="submit" value="Submit" class="form-button" />
					</div>
					<perch:success>
						<p class="success">
							<perch:content id="success" type="text" label="Thank you message" />
						</p>
					</perch:success>
				</perch:form>
			</div>
		</div>
	</perch:block>

	<perch:block type="card_two" label="Cards 2">
		<div class="wrap">
			<div class="restrict text-center">
				<perch:if exists="heading">
					<h1>
						<perch:content type="text" id="heading" label="Heading" />
					</h1>
					<p>
						<perch:content type="text" id="description" label="Sub Heading" />
					</p>
				</perch:if>
			</div>

			<div class="restrict columns-2">

				<perch:repeater id="rows" label="Rows">

					<div class="card">
						<div class="thumb">
							<a href="<perch:content id="url_left" label="URL Left" type="text" />"><img
								src="<perch:content type="image" id="left_image" label="Left Image" width="900"
								height="600" crop="true" filter="imgix" imgix-opts="auto=format,compress" />" alt="
							<perch:content type="text" id="alttext_left" label="ALT Text Left" />" loading="lazy"></a>
						</div>
						<div class="content">
							<p><a href="<perch:content id="url_left" label="URL Left" type="text" />">
								<perch:content type="text" id="title_left" label="Title Left" /></a>
							</p>
						</div>
					</div>

					<div class="card">
						<div class="thumb">
							<a href="<perch:content id="url_right" label="URL Right" type="text" />"><img
								src="<perch:content type="image" id="right_image" label="Right Image" width="900"
								height="600" crop="true" filter="imgix" imgix-opts="auto=format,compress" />" alt="
							<perch:content type="text" id="alttext_right" label="ALT Text Right" />" loading="lazy"></a>
						</div>
						<div class="content">
							<p><a href="<perch:content id="url_right" label="URL Right" type="text" />">
								<perch:content type="text" id="title_right" label="Title Right" /></a>
							</p>
						</div>
					</div>

				</perch:repeater>
			</div>
		</div>
	</perch:block>

	<perch:block type="left-right-blocks" label="Left-Right Blocks">
		<perch:repeater id="container" label="Container">
			<perch:before><div class="align-container"></perch:before>
			<div class="wrap <perch:every count="2">right<perch:else>left</perch:every>-align align-outer">
				<div class="restrict <perch:every count="2">right<perch:else>left</perch:every>-align-inner align-inner">
					<img 
						src="<perch:content type="image" 
						id="image" 
						label="Image" 
						width="400" 
						filter="imgix"
						imgix-opts="auto=format,compress" />" 
						alt="<perch:content type="text" label="Image Alt" id="alt" />" 
						loading="lazy">
					<div>
						<perch:content type="textarea" id="text_paragraph" label="Text Paragraph" editor="redactor" html />
					</div>
				</div>
			</div>
			<perch:after></div></perch:after>
		</perch:repeater>
	</perch:block>

	<perch:block type="logos" label="Logo Squares">
		<perch:repeater id="logo-repeater" label="Logo Container">
			<perch:before><div class="logo-container"></perch:before>
				<a href="<perch:content id="logo-href" type="text" label="Link">">
					<img src="<perch:content id="logo" label="Logo" type="image" height="120" crop="true" filter="imgix" imgix-opts="auto=format,compress" />" alt="Logo" >
				</a>
			<perch:after></div></perch:after>
		</perch:repeater>
	</perch:block>

	<perch:block type="speakers" label="Speakers">
		<perch:repeater id="speaker-repeater" label="Speaker Container">
			<perch:before><div class="speaker-container"></perch:before>
				<div class="section-container">
					<div class="section-header">
						<h2><perch:content type="text" id="talk-name" label="Talk Title" /></h2>
						<p class="date-time"><perch:content type="time" id="time" label="Time" format="%H:%M" /> - <perch:content type="date" id="date" label="Date" format="%A, %e %B %Y" native/></p>
						<div class="speaker-info">
							<perch:if exists="speaker-image">
								<img src="<perch:content type="image" label="Speaker Picture" id="speaker-image" height="120" width="120" crop="true" filter="imgix" imgix-opts="auto=format,compress" />" />
							</perch:if>
							<h4 class="speaker-name"><perch:content type="text" id="speaker" label="Speaker" /></h4>
						</div>
					</div>
					<perch:content type="textarea" id="description" label="Short Description" editor="redactor" html />
					<perch:if exists="link">
						<a href="<perch:content type="text" id="link" label="Link" />" target="_blank" class="button" ><perch:content type="text" id="link-label" label="Link Label" /></a>
					</perch:if>
				</div>
			<perch:after></div></perch:after>
		</perch:repeater>
	</perch:block>

</perch:blocks>