/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GLOBAL COLOURS */

:root {
	--primary: #000000;
	--secondary: #bf215a;
	--bright: #95c11f;
	--pale: #e5edca;
	--grey: #d5d8ce;
}

/* BODY STYLING */

body, html {
	font-family: 'Ropa Sans', sans-serif;
	line-height: 1.3;
	background: #fff;
}

* {
	font-family: 'Ropa Sans', sans-serif;
	line-height: 1.3;
	box-sizing: border-box;
}

/* STRUCTURAL */

header, footer, .wrap {
	width: 100%;
	float: left;
}

.restrict {
	max-width: 1280px;
	margin: 0 auto;
	display: block;
	padding: 0 1rem;
}

.restrict.narrow {
	max-width: 40em;
}

/* TYPE */

h1, h2, h3, h4, h5, h6 {
	margin-top: 1rem;
	font-weight: 700;
	margin-bottom: 1rem;
	color: var(--bright);
}

h1 {
	font-size: 3.2rem;
}

h2 {
	font-size: 2.8rem;
}

h3 {
	font-size: 2.2rem;
}

h4, h5, h6 {
	font-size: 1.2rem;
}

p, ul, ol {
	margin-bottom: 2rem;
	font-size: 1.2rem;
	color: var(--primary);
	font-family: 'Open Sans', sans-serif;
}

ol {
	list-style: decimal;
}

strong {
	font-weight: 700;
}

@media screen and (max-width:768px) {
	h1 {
		font-size: 2.8rem;
	}
	h2 {
		font-size: 2.4rem;
	}
	h3 {
		font-size: 1.8rem;
	}
	ul li {
		line-height: 1.8;
	}
}

@media screen and (max-width:640px) {
	h1 {
		font-size: 2.4rem;
	}
	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.4rem;
	}
}

.restrict ul {
	list-style: disc;
	margin-left: 2rem;
}

.restrict ol {
	list-style: decimal;
	margin-left: 2rem;
}

.text-center {
	text-align: center;
}

/* IMAGES */

img {
	max-width: 100%;
	height: auto;
}

/* FORMS */

input[type=text], input[type=email], input[type=password], textarea {
	max-width: 500px;
	width: 100%;
	display: block;
	font-size: 1.2rem;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border: none;
	border-bottom: 1px solid #ccc;
	border-radius: 3px;
	background: #f1f2f2;
}

label {
	font-weight: 700;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
	width: 100%;
	float: left;
}

input[type=submit] {
	float: left;
}

p.success {
	padding: 1rem;
	background: var(--bright);
	color: #fff;
	font-weight: 700;
}

/* LINKS */

a {
	color: var(--primary);
}

a:hover {
	color: var(--grey);
}

a.button, button, input[type=submit] {
	font-size: 1.2rem;
	display: block;
	padding: 1rem 2rem;
	background: var(--primary);
	color: #fff;
	text-shadow: 0px 0px 2px #333;
	max-width: 200px;
	text-decoration: none;
	border-radius: 5px;
	border: none;
	margin-bottom: 1rem;
}

a.button:hover, button:hover, input[type=submit]:hover {
	background: var(--secondary);
}

.search input[type=submit] {
	font-size: 0.8rem;
	padding: 0.4rem 0.8rem;
	float: left;
}

.search input[type=text] {
	width: 100%;
	margin-bottom: 0.5rem;
	font-size: 0.8rem;
	padding: 0.4rem;
}

.search {
	width: 100%;
	float: left;
	margin-bottom: 2rem;
}

/* HEADER */

header {
	border-bottom: 1px solid var(--grey);
}

header .restrict {
	display: grid;
	grid-template-columns: 300px auto;
	grid-column-gap: 2rem;
	padding: 1rem 1rem 1rem 1rem;
}

header .logo {
	font-weight: 700;
	justify-self: start;
}

header .logo a {
	text-decoration: none;
	color: var(--primary);
}

header nav {}

header .restrict nav ul {
	margin: 0;
	margin-left: 0px;
}

header nav ul li {
	display: inline-block;
	margin-right: 1.4rem;
	line-height: 140px;
}

header ul.social {
	margin: 0;
	text-align: right;
}

header ul.social li {
	display: inline-block;
	margin-left: 1.4rem;
}

header ul.social li span {
	width: 0px;
	height: 0px;
	overflow: hidden;
	display: block;
}

header p, header ul {
	margin-bottom: 0px;
}

header ul.languages {
	font-size: 0.8rem;
	display: block;
	margin: 0 auto;
	max-width: 1280px;
	padding: 0 1rem;
	text-align: right;
}

header ul.languages li {
	display: inline-block;
	margin-left: 0.5rem;
}

header ul.languages li a {
	padding: 6px;
	float: right;
}

@media screen and (max-width:950px) {
	.telephone {
		display: none;
	}
	header .restrict {
		/* grid-template-columns: 100px auto 160px;	 */
	}
}

@media screen and (max-width:768px) {
	header .restrict {
		grid-template-columns: 1fr 1fr;
	}
	p.logo>a>img {
		max-height: 100px;
	}
	header nav {
		grid-row: 2;
		grid-column: 1 / 3;
		margin-top: 1rem;
	}
	header ul.social {
		grid-row: 1;
		grid-column: 2;
		text-align: right;
	}
	header nav ul li:last-child {
		margin-right: 0;
	}
}

@media screen and (max-width:480px) {
	header .restrict {
		padding: 1rem;
	}
	header p.logo {
		margin-top: 0.3rem;
	}
}

@media screen and (max-width:410px) {
	header nav ul {
		font-size: 1rem;
	}
}

@media screen and (max-width:380px) {
	header nav ul li {
		margin-right: 1rem;
	}
	header ul.social li {
		margin-left: 1rem;
	}
}

/* FOOTER */

footer {
	margin-top: 4rem;
	border-top: 1px solid var(--grey);
}

footer .restrict {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 2rem;
}

footer .copyright {
	padding: 4rem 0;
	margin-top: 4rem;
	grid-column: 1 / 6;
	text-align: center;
	font-size: 0.8rem;
}

footer ul li a {
	padding: 0.3rem 0;
	float: left;
	width: 100%;
}

footer .restrict ul {
	list-style: none;
	margin-left: 0px;
}

footer ul.social li {
	display: inline-block;
	margin-right: 2rem;
}

footer ul.social li span {
	display: none;
}

@media screen and (max-width:1210px) {
	footer .restrict {
		grid-template-columns: 1fr 1fr 1fr;
	}
	footer .copyright {
		grid-column: 1 / 4;
	}
}

@media screen and (max-width:768px) {
	footer .restrict {
		grid-template-columns: 1fr 1fr;
	}
	footer .copyright {
		grid-column: 1 / 3;
	}
}

@media screen and (max-width:600px) {
	footer .restrict {
		grid-template-columns: 1fr;
	}
	footer .copyright {
		grid-column: 1;
		text-align: left;
	}
}

/* HERO */

.hero {
	width: 100%;
	float: left;
	min-height: 500px;
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero div {
	text-align: center;
	max-width: 1280px;
	margin: 0 auto;
	display: block;
	padding: 0 1rem;
}

.hero div h1, .hero div p {
	color: #fff;
	text-shadow: 0px 0px 2px #333;
}

.hero>div>img {
	max-width: 100px;
	height: auto;
	margin-top: 20px;
	background-color: white;
}

@media screen and (max-width:1024px) {
	.hero {
		min-height: 400px;
	}
}

@media screen and (max-width:768px) {
	.hero {
		min-height: 300px;
	}
	.hero>div>img {
		max-width: 70px;
	}
}

@media screen and (max-width:480px) {
	.hero {
		min-height: 200px;
	}
}

/* COLUMNS */

.columns-3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.columns-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	max-width: 1024px;
}

@media screen and (max-width:1024px) {
	.columns-3 {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width:480px) {
	.columns-3 {
		grid-template-columns: 1fr;
	}
	.columns-2 {
		grid-template-columns: 1fr;
	}
}

/* CATEGORIES */

.card {
	position: relative;
	box-shadow: 0px 0px 20px #ccc;
}

.card .thumb {}

.card .thumb img {
	border-radius: 5px;
	display: block;
}

.card .content {
	position: absolute;
	bottom: 2rem;
	left: 2rem;
	width: calc(100% - 4rem);
}

.card p {
	margin-bottom: 0;
	font-weight: 700;
	color: #fff;
	font-size: 1.4rem;
	width: 100%;
	text-shadow: 0px 0px 2px #333;
}

.card p span {
	background: var(--bright);
	padding: 0.2rem 0.6rem;
	border-radius: 3px;
	float: right;
}

.card p a {
	color: #fff;
}

/* NEWSLETTER */

.newsletter {
	border-top: 1px solid var(--grey);
	border-bottom: 1px solid var(--grey);
	padding: 2rem 0;
	text-align: center;
}

.newsletter h2 {
	font-size: 1.2rem;
	margin-top: 0px;
}

.newsletter label {
	font-weight: 700;
	font-size: 1.2rem;
	display: block;
	margin-bottom: 1rem;
}

.newsletter input[type=text] {
	padding: 0.5rem;
	max-width: 340px;
	font-size: 1.2rem;
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-bottom: 1rem;
}

.newsletter button {
	margin: 0 auto;
	float: none;
}

/* STORY */

.story .restrict {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
	max-width: 1024px;
	margin: 4rem auto;
}

.story .restrict div {
	grid-column: 1 / 3;
}

@media screen and (max-width:680px) {
	.story .restrict {
		grid-template-columns: 1fr;
	}
	.story .restrict div {
		grid-column: 1;
	}
}

/* VIDEO */

.video {
	background: var(--bright);
	padding: 4rem 0;
	margin: 4rem 0;
}

.video h2 {
	color: #fff;
	text-align: center;
}

.video a {
	text-align: center;
	font-size: 6rem;
	color: #fff;
	margin: 4rem 0;
	display: block;
	margin: 0 auto;
}

/* TESTIMONIALS */

.testimonials {
	margin: 4rem 0;
}

.testimonials .restrict {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
	text-align: center;
}

.testimonials img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	display: block;
	margin: 0 auto;
}

.testimonials blockquote {
	margin: 1rem;
}

.testimonials cite {
	font-weight: 700;
	color: var(--primary);
}

@media screen and (max-width:768px) {
	.testimonials .restrict {
		grid-template-columns: 1fr;
	}
}

/* FIGURES */

.figures {
	margin: 4rem 0;
}

.figures .restrict {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
	text-align: center;
}

.figures a.button {
	margin: 0 auto;
	float: none;
}

@media screen and (max-width:1024px) {
	.figures .restrict {
		grid-template-columns: 1fr 1fr;
	}
	.figures .restrict div:last-child {
		grid-column: 1 / 3;
	}
}

@media screen and (max-width:768px) {
	.figures .restrict {
		grid-template-columns: 1fr;
	}
	.figures .restrict div:last-child {
		grid-column: 1;
	}
}

/* LEFT RIGHT ALIGN */

.left-align img {
	float: left;
	margin-right: 2rem;
	margin-bottom: 2rem;
	max-width: 180px;
	height: auto;
}

.right-align img {
	float: right;
	margin-left: 2rem;
	margin-bottom: 2rem;
	max-width: 180px;
	height: auto;
}

@media screen and (max-width:600px) {
	.left-align img, .right-align img {
		width: 30%;
	}
}

@media screen and (max-width:480px) {
	.left-align img, .right-align img {
		max-width: 300px;
		display: block;
		float: none;
	}
}

/* DEFINITIONS */

.definitions {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2rem;
}

@media screen and (max-width:768px) {
	.definitions {
		grid-template-columns: 1fr;
	}
}

/* GALLERY */

.gallery {
	margin: 4rem 0;
	background: var(--bright);
	padding: 4rem 0;
}

.gallery h2 {
	color: #fff;
	grid-column: 1 / 4;
}

.gallery .restrict {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
}

.gallery .restrict div {
	height: 200px;
}

@media screen and (max-width:1024px) {
	.gallery h2 {
		grid-column: 1 / 3;
	}
	.gallery .restrict {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width:640px) {
	.gallery h2 {
		grid-column: 1;
	}
	.gallery .restrict {
		grid-template-columns: 1fr;
	}
}

/* BLOG */

.blog {
	display: grid;
	grid-template-columns: 4fr 2fr;
	grid-column-gap: 2rem;
}

h1.span {
	grid-column: 1 / 3;
}

.post {
	width: 100%;
	padding: 2rem;
	border-radius: 5px;
	background: #fff;
	margin-top: 2rem;
	margin-bottom: 2rem;
	float: left;
	position: relative;
}

ul.meta {
	margin-left: 0;
	list-style-type: none;
	font-size: 0.9rem;
	float: left;
	width: 100%;
}

ul.meta li {
	display: inline-block;
	margin-right: 2rem;
}

ul.meta i {
	color: var(--bright);
	margin-right: 0.5rem;
}

.post a {
	text-decoration: none;
}

.post .button {
	float: left;
	margin-bottom: 2rem;
	display: block;
}

.post img {
	border-radius: 3px;
}

.post div.blog_item_date {
	position: absolute;
	top: 0px;
	right: 3rem;
	background: var(--primary);
	padding: 1rem;
	text-align: center;
}

.post div.blog_item_date h2, .post div.blog_item_date p {
	margin: 0;
	color: #fff;
}

.post.word div.blog_item_date {
	right: 2rem;
}

.post.word h2 {
	max-width: calc(100% - 200px);
	margin-top: 0px;
}

.post ul.meta {
	margin-bottom: 2rem;
}

aside h2 {
	margin-bottom: 1rem;
}

aside h3 {
	font-size: 1.2rem;
	margin-bottom: 0px;
	margin-top: 0px;
}

aside a {}

aside .minimal {
	width: 100%;
	float: left;
	margin-bottom: 1rem;
}

aside p {
	font-size: 0.8rem;
}

aside img {
	float: left;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

@media screen and (max-width:768px) {
	.blog {
		grid-template-columns: 1fr;
	}
	h1.span {
		grid-column: 1;
	}
	.post {
		padding: 0.5rem;
	}
}

@media screen and (max-width:480px) {}

.translate {
	position: fixed;
	bottom: 0px;
	right: 0px;
	font-size: 0.7rem;
	background: #fff;
	color: #333;
	padding: 0.3rem;
	text-align: right;
}

/* Nav */

#dynamic_nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
	align-items: center;
}

.hamburgerWrapper {
	position: relative;
}

.hamburgerWrapper button {
	margin: 0;
}

#hamburger {
	position: absolute;
	background-color: var(--primary);
	color: white;
	display: flex;
	flex-direction: column;
	text-align: right;
	right: 0px;
	top: 35px;
	opacity: 0;
	pointer-events: none;
	transition: 150ms;
}

#hamburger.show {
	opacity: 1;
	pointer-events: auto;
}

#hamburger li {
	line-height: 14px;
	margin-right: 0;
	width: 280px;
}

#hamburger a {
	color: white;
}

#hamburgerButton {
	position: relative;
	top: 1px;
	cursor: pointer;
	background-color: white;
	color: black;
	text-shadow: none;
	margin: 0px;
	padding: 0px;
	min-width: 17px;
	display: block;
}

#hamburgerButton.hide {
	display: none;
}

.navigation {
	display: flex;
	grid-row: auto;
	grid-column: auto;
	height: 140px;
	justify-content: flex-end;
	align-items: center;
	opacity: 0;
	gap: 20px;
	z-index: 10;
}

.navigation.show {
	opacity: 1;
}

.navigation li {
	line-height: 14px;
	font-size: 1.2rem;
	position: relative;
	margin: 0;
	display: flex;
	justify-content: flex-end;
	/* padding: 1rem; */
}

.navigation li a {
	padding: 1rem;
	width: 100%;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row-reverse;
	white-space: nowrap;
}

.navigation li a i {
	margin: -10px 0;
}

.navigation li:hover>a {
	color: white;
	background-color: var(--primary);
	transition: 150ms background-color;
}

.navigation li a:hover {
	background-color: var(--secondary);
	color: white;
	transition: 150ms background-color;
}

.navigation li>a {
	text-decoration: none;
}

.navigation li.hide {
	display: none;
}

.navigation ul[data-depth="1"] {
	background-color: var(--p);
	position: absolute;
	right: 0px;
	min-width: 100%;
	opacity: 0;
	pointer-events: none;
	text-align: right;
	transition: 150ms background-color;
	z-index: -10;
}

.navigation ul[data-depth="1"] li {
	background-color: var(--primary);
	margin: 0;
}

.navigation ul[data-depth="1"] li a:hover {
	background-color: var(--secondary);
	transition: 150ms background-color;
}

.navigation ul[data-depth="1"] li>a {
	background-color: var(--primary);
	color: white;
	white-space: nowrap;
}

.navigation ul[data-depth="1"].show {
	opacity: 1;
	pointer-events: all;
}

#hamburger ul[data-depth="1"].show {
	opacity: 1;
	pointer-events: all;
}

#hamburger li {
	line-height: 14px;
}

#hamburger li:hover {
	background-color: var(--secondary);
	transition: 150ms background-color;
}

#hamburger li a {
	flex-direction: row;
	justify-content: flex-end;
}

#hamburger i {
	display: block;
}

#hamburger i.hide {
	display: none;
}

#hamburger li a i {
	position: relative;
	top: 1px;
	justify-self: flex-end;
}

#hamburger.mobile>li {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	grid-template-areas: "icon link" "sublinks sublinks";
	justify-self: stretch;
}

#hamburger.mobile>li:hover>i {
	background-color: inherit;
	color: inherit;
}

#hamburger.mobile li a {
	grid-area: link;
	pointer-events: all;
}

#hamburger.mobile li>i {
	grid-area: icon;
	justify-self: center;
	align-self: center;
	height: 100%;
	width: 100%;
	display: flex;
	padding: 0 20px;
	cursor: pointer;
}

#hamburger.mobile li>i.spin::before {
	transform: rotate(180deg);
}

#hamburger.mobile li>i::before {
	margin: auto;
	transform: rotate(0deg);
	transition: transform 150ms;
}

#hamburger.mobile ul[data-depth="1"] {
	position: relative;
	opacity: 1;
	color: white;
	z-index: 10;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	grid-area: sublinks;
}

#hamburger.mobile ul[data-depth="1"] li>a {
	color: black;
	background-color: var(--grey);
}

#hamburger.mobile ul[data-depth="1"] li {
	background-color: var(--primary);
	margin: 0;
}

#hamburger.mobile ul[data-depth="1"] li:hover>a {
	background-color: var(--secondary);
	color: white;
}

@media screen and (max-width: 768px) {
	.navigation {
		height: 70px;
		margin-top: auto;
		margin-bottom: auto;
	}
}

@media screen and (max-width: 520px) {
	.navigation {
		height: 50px;
	}
}

/* End Nav */

form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 0 auto;
	max-width: 608px;
}

.form-section input {
	max-width: none;
}

.form-section .form-button {
	margin-top: 15px;
}

.form-section> :is(input, textarea) {
	max-width: none;
}

.countWords {
	margin: 0;
}

.countWords+p {
	font-size: 1rem;
	text-align: right;
	margin-bottom: -5px;
}

/* Image Upload */

.image-upload-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: start;
}

.image-upload-section label {
	float: none;
}

.image-upload-section input {
	display: none;
}

.image-upload-section button {
	display: block;
	color: var(--primary);
	background-color: white;
	text-shadow: none;
	border: 1px solid var(--primary);
}

.image-upload-section button:hover {
	color: white;
	background-color: var(--primary);
}

.image-upload-section button.hide {
	display: none;
}

#preview-div {
	display: grid;
	justify-items: start;
	position: relative;
}

#preview-div.hide {
	display: none;
}

#image-overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #00000027;
	pointer-events: none;
	opacity: 1;
	transition: 150ms;
}

#image-overlay.hide {
	opacity: 0;
}

#delete-button {
	padding: 10px;
	opacity: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 150ms;
}

#delete-button.hide {
	opacity: 0;
}

#delete-button:hover {
	background-color: red;
	border: 1px solid red;
}

.align-container {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 100%;
}

.align-inner {
	max-width: 950px;
	display: flex;
	gap: 30px;
	padding: 30px;
	align-items: flex-start;
}

.align-inner>img {
	float: none;
	margin: 0;
	grid-area: img;
}

.align-inner>div {
	grid-area: text;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.align-inner :is(h1, h2, h3, h4, h5, h6, p) {
	margin: 0;
}

.align-inner>div>h2 {
	margin-top: -10px;
}

.left-align-inner {
	justify-self: start;
}

.right-align-inner {
	flex-direction: row-reverse;
	text-align: right;
}

.align-outer {
	max-width: 1280px;
	margin: 0 auto;
	float: none;
}

.right-align-inner {
	margin-left: auto;
	margin-right: 0;
}

.left-align-inner {
	margin-right: auto;
	margin-left: 0;
}

@media screen and (max-width: 600px) {
	/* .left-align img,.right-align img{
		width: 100%;
		max-width:100%;
		margin: 0;
		display:block;
		float:none;
	} */
	.align-inner {
		flex-direction: column;
	}
	.right-align-inner {
		text-align: left;
	}
}

@media screen and (max-width:480px) {
	.left-align img, .right-align img {
		width: 100%;
		max-width: 100%;
		margin: 0;
		display: block;
		float: none;
	}
}

.logo-container {
	margin: 30px auto 0 auto;
	display: flex;
	gap: 40px;
	align-items: center;
	justify-content: center;
	width: 100%;
}

@media screen and (max-width: 520px) {
	.logo-container {
		flex-direction: column;
		gap: 20px;
	}
}

.logo-container>a {}

.logo-container>a>img {
	max-height: 100px;
	min-height: 100px;
	width: auto;
	display: block;
}

.speaker-container {
	display: flex;
	width: 100%;
	gap: 30px;
	margin: 0 auto;
	box-sizing: border-box;
	max-width: 900px;
	flex-direction: column;
}

.section-container :is(h1, h2, h3, h4, h5, h6, p) {
	margin: 0;
}

.section-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 16px;
	background: #fafafa;
	padding: 20px;
}

.section-header>.date-time {
	font-size: 1.1rem;
	opacity: 0.7;
	font-style: italic;
}

.speaker-info>.speaker-name {
	font-size: 1.5rem;
	font-weight: normal;
}

.speaker-info {
	margin-top: 20px;
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: start;
	gap: 15px;
}

.speaker-info>img {
	max-width: 60px;
}

.section-container>.button {
	text-align: center;
	margin-top: 10px;
	/* border: 1px solid var(--primary);
	background: #fafafa;
	color: 1px solid var(--primary);
	text-shadow: none; */
}

/* .section-container > .button:hover {
	background: 1px solid var(--primary);
	color: #fafafa;
} */

.text-logo-wrapper {
	display: flex;
	gap: 15px;
	width: 100%;
	justify-content: space-between;
	align-items: stretch;
	margin: 0 auto;
}

.text-logo-content {
	max-width: 60%;
}

.text-logo-wrapper>.text-logo-image {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin: 50px 0 30px 0;
	flex-direction: column;
	width: 100%;
	gap: 20px;
}

.text-logo-image>a {
	/* display: flex;
	align-items: center;
	justify-content: center;
	width: 100%; */
}

.text-logo-image>a>img {
	max-height: 140px;
}

@media screen and (max-width: 768px) {
	.text-logo-wrapper {
		display: flex;
		flex-direction: column;
	}
	.text-logo-content {
		max-width: 100%;
	}
	.text-logo-wrapper>.text-logo-image {
		display: flex;
		margin: 10px 0 30px 0;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		gap: 20px;
	}
}

@media screen and (max-width: 520px) {
	.text-logo-wrapper>.text-logo-image {
		display: flex;
		margin: 10px 0 30px 0;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		gap: 20px;
	}
}